<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <style>
   .text {
    text-align:  center;
   }
  </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body background-color="#ffffff">
{% block content %}
    <h1 style="text-align: center;">{{ title }}</h1>
    <p style="text-align: center;">На электронную почту отправлен код для {{ reason }}, введите его в поле ниже</p>
    {% if error != "" %}
        <p style="color:red; text-align: center;">{{ error }}</p>
    {% endif %}

    <form action="{% url 'email_confirm' num %}" method="post">
        {% csrf_token %}

        {% for f in form %}
            <p><div style="text-align: center;"><label  for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</div></p>
            <div style="color:red; text-align: center;" >{{ f.errors }}</div>
        {% endfor %}

        {% if num == 1 %}
            <p style="text-align: center; font-family:'Arial'; font-size:14px"><input type="submit" value="Подтвердить регистрацию и перейти к заполнению персональных данных" /></p>
            <br>
            <div style="text-align: center;" ><button style='font-size: 10px; margin-bottom:20px'>  <a href="{% url 'email_confirm_repeat' num %}">Отправить новый код</a></button></div>
            <br>
            <div style="text-align:center; "><button style=' font-size: 10px'>  <a href="{% url 'delete_user' %}">Вернуться к 1 этапу регистрации</a> </button> </div>
        {% elif num == 2 %}
            <p style="text-align: center; font-family:'Arial'; font-size:14px"><input type="submit" value="Подтвердить регистрацию и перейти к cбросу пароля" /></p>
            <br>
            <div style="text-align: center;" ><button style='font-size: 10px; margin-bottom:20px'>  <a href="{% url 'email_confirm_repeat' num %}">Отправить новый код</a></button></div>
            <br>
            <div style="text-align:center; "><button style=' font-size: 10px'>  <a href="{% url 'password_reset' %}">Вернуться к вводу email для сброса пароля</a> </button> </div>
        {% elif num == 3 %}
            <p style="text-align: center; font-family:'Arial'; font-size:14px"><input type="submit" value="Подтвердить регистрацию и перейти к cбросу email" /></p>
            <br>
            <div style="text-align: center;" ><button style='font-size: 10px; margin-bottom:20px'>  <a href="{% url 'email_confirm_repeat' num %}">Отправить новый код</a></button></div>
            <br>
            <div style="text-align:center; "><button style=' font-size: 10px'>  <a href="{% url 'email_reset' %}">Вернуться к вводу email</a> </button> </div>
        {% elif num == 4 %}
            <p style="text-align: center; font-family:'Arial'; font-size:14px"><input type="submit" value="Подтвердить регистрацию и перейти к заполнению данных обменника" /></p>
            <br>
            <div style="text-align: center;" ><button style='font-size: 10px; margin-bottom:20px'>  <a href="{% url 'email_confirm_repeat' num %}">Отправить новый код</a></button></div>
            <br>
            <div style="text-align:center; "><button style=' font-size: 10px'>  <a href="{% url 'general_settings_exchange_structure_new_1' %}">Вернуться к выбору организатора обменника</a> </button> </div>
        {% elif num == 5 %}
            <p style="text-align: center; font-family:'Arial'; font-size:14px"><input type="submit" value="Подтвердить регистрацию сотрудника обменника" /></p>
            <br>
            <div style="text-align: center;" ><button style='font-size: 10px; margin-bottom:20px'>  <a href="{% url 'email_confirm_repeat' num %}">Отправить новый код</a></button></div>
            <br>
            <div style="text-align:center; "><button style=' font-size: 10px'>  <a href="{% url 'general_settings_exchange_structure_new_3' 1 %}">Вернуться к выбору сотрудника обменника</a> </button> </div>
        {% elif num == 6 %}
            <p style="text-align: center; font-family:'Arial'; font-size:14px"><input type="submit" value="Подтвердить регистрацию и замену ораганизатора обменника" /></p>
            <br>
            <div style="text-align: center;" ><button style='font-size: 10px; margin-bottom:20px'>  <a href="{% url 'email_confirm_repeat' num %}">Отправить новый код</a></button></div>
            <br>
            <div style="text-align:center; "><button style=' font-size: 10px'>  <a href="{% url 'general_settings_change_exchange_structure_1' %}">Вернуться к выбору организатора обменника</a> </button> </div>
        {% else  %}

        {% endif %}
    </form>
{% endblock %}

</body>
</html>