<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля прошел успешно</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body background-color="#ffffff">
<div style="text-align: center">
<h1>Пароль установлен</h1>
    <p>Сброс пароля прошел успешно. Вы можете  войти в систему</p>
    <button style=" font-size: 20px">  <a href="{% url 'login' %}">Войти в систему</a> </button>
    </div>
</body>
</html>