<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ввод нового пароля</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body background-color="#ffffff">
<div style="text-align: center">
    <h1>Сброс пароля пользователя</h1>

        <p>Введите новый пароль:</p>

            <form action="." method="post">
                {% csrf_token %}

                {% for f in form %}
                    <p><div style="text-align: center;"><label  for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</div></p>
                    <div style="text-align: center;" >{{ f.errors }}</div>
                {% endfor %}

                <p><input type="submit" value="Сменить пароль"/></p>
                <br>
            <div style="text-align:center; "><button style=' font-size: 10px'>  <a href="{% url 'password_reset' %}">Вернуться к вводу email для сброса пароля</a> </button> </div>
            </form>

</div>

</body>
</html>