<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{  title }}</title>
  <style>
   .text {
    text-align:  center;
   }
  </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body background-color="#ffffff">
{% block content %}
        <h1 style="text-align: center;">Настройка орг. структуры обменника</h1>
        <p style="text-align: center;">Выбор сотрудника обменника</p>
        <div style="text-align: center;">
            <h3>Пользователь {{ username }} найден в системе. Вы подтверждаете выбор аккаунта (требуется подтверждение через эл. почту указанного пользователя)?</h3>
        </div>
        <div style="text-align:center; "><button style="background-color: lawngreen; font-size: 27px">  <a href="{% url 'general_settings_exchange_structure_new_3_confirm' 2 %}">Да</a> </button> <button style="background-color: orangered; font-size: 27px"><a href="{% url 'general_settings_exchange_structure_new_1' %}">Нет</a> </button></div>


 {% endblock %}
 </body>
</html>